
<%= simple_form_for @user do |f| %>
 <%= f.error_notification %> 
  <div class="form-inputs">
    <%= f.input :password, required: true, label: 'Nowe Hasło', hint: ("Minimum #{@minimum_password_length} znaków" if @validatable) %>
    <%= f.input :password_confirmation, required: true, label: 'Powtórz Hasło' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Zapisz" %>
  </div>
<% end %>

<% if params[:id].present? %>
  <%= link_to "Powrót", edit_user_path(params[:id]), :class => "btn btn-primary"%>
  <% else %>
  <%= link_to "Powrót", show_profile_users_path, :class => "btn btn-primary"%>
<% end %>