<%= simple_form_for @user do |f| %>
 <%= f.error_notification %> 

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true, label: 'Imię' %>
    <%= f.input :surname, required: true, label: 'Nazwisko' %>
    <%= f.input :email, required: true, label: 'Adres E-mail' %>
    <%= f.input :admin, label: 'Czy admin' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Zapisz" %>
  </div>
<% end %>

