<p id="notice"><%= notice %></p>

<h1>Lista uzytkownikow</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, :user %>
  <%= link_to 'Nowy użytkownik', new_user_registration_path, class: "button radius" %>
<% end %>

<br>