<h1 class="page-header">Dodaj nowego użytkownika</h1>

<%= simple_form_for @user do |f| %>
<!--   <%= f.error_notification %> -->

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true, label: 'Imię' %>
    <%= f.input :surname, required: true, label: 'Nazwisko' %>
    <%= f.input :email, required: true, label: 'Adres E-mail' %>
    <%= f.input :password, required: true, label: 'Hasło', hint: ("Minimum #{@minimum_password_length} znaków" if @validatable) %>
    <%= f.input :password_confirmation, required: true, label: 'Powtórz Hasło' %>
    <%= f.input :admin, label: 'Czy admin' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Rejestruj" %>
  </div>
<% end %>
