<!DOCTYPE html>
<html>
<head>
  <title>Trollo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="row" style="background-color:yellow;">

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Zalogowany/a jako <strong><%= current_user.name %> <%= current_user.surname %></strong>.
  <% if can? :update, current_user %>
  <%= link_to "Profil", show_user_path, :class => 'navbar-link' %> |
  <% end %>
  <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Zaloguj", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
</div>

<%= yield %>

</div>

</body>
</html>
